@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    padding: 0%;
}

.nav-bar {
    background-color: rgba(240, 109, 1, 0.863);
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.active{
    border-radius: 5px;
    background-color: rgba(240, 109, 1, 0.979);
    border: 1px solid rgba(240, 109, 1, 0.89)
}

.logo-box {
    display: flex;
    float: left;
    padding-left: 30px;
    justify-content: center;
}

.logo-image {
    width: 25px;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
    text-decoration: none;
    list-style-type: none;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    color: aliceblue;
}

.link-list {
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
    border-bottom: 1px;
}

.list-item {
    text-decoration: none;
    padding: 0.5px;
}

.main-container {
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 52.5px 100px 0px 100px;
    gap: 150px;
    border: 1px solid rgb(0, 0, 0);
}

.header {
    margin: 20px 20px 20px 20px;
    padding-bottom: 20px;
    width: 1000px;
    text-align: center;
    border:1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

.main-title {
    margin: 30px 30px 60px 30px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

}

.subtitles{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 30px;
}

.paragraph {
    margin: 15px;
    text-align: justify;
}

.last {

}

.image-inside {
    width: 500px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 10px 11px 7px 0px rgba(176,176,176,1);
}

.who-container {
    display: flex;
    justify-content: center;
}
.container-who-image{
    display: flex;
    border-radius: 10px;
    background-color: aliceblue;
    overflow: hidden;
    width: 400px;
    box-shadow: 10px 11px 7px 0px rgba(176,176,176,1);
}

.who-image{
    width: 100%;
}

.container-par-who{
    width: 400px;
}



/*footer footer footer footer footer footer*/

footer{
    background-color:  rgba(240, 109, 1, 0.863);
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: aliceblue;
    bottom: 0;
}

.paragrap-foot{
    text-align: center;
    padding:20px 20px 20px 20px;

}

.img-box {
 display: flex;
 justify-content: center;
 gap: 30px;
 padding: 10px;
 background-color: black;
}

.icon{
    width: 40px;
    transition: transform 0.3s ease-in-out
}

.icon:hover{
    transform: translate(10px, 10px);
}


/***************medida dispositivos de 600px*******************/
@media  (max-width: 600px){
    .logo-box {
        display: flex;
        float: left;
        padding-left: 0px;
        justify-content: center;
    }

    .nav-list{
        display: flex;
        justify-content: center;
        gap: 15px;
        text-decoration: none;
        list-style-type: none;
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        color: aliceblue;
    }

    .list-item {
        text-decoration: none;
    }

    .image-inside{
        width: 250px;
    }
    .main-title {
        margin: 30px 30px 60px 30px;
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    } 

    .subtitles{
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        margin-top: 30px;
    }

    .paragraph {
        line-height: 1.5;
        font-size: 14px;
        margin: 15px;
        text-align: justify;
    }

    .main-container {
        background-color: aliceblue;
        justify-content: center;
        text-align: center;
        display: flex;
        margin: 52.5px 60px 0px 60px;
        gap: 150px;
        border: 1px solid rgb(0, 0, 0);
    }

    .who-container {
        display: flex;
        justify-content: center;
    }

    .container-who-image{
        width: 220px;
        }
    
    .who-image{
        width: 100%;
        }
    
    .container-par-who{
        width: 220px;
    }
    
    .paragrap-foot{
        text-align: center;
        padding:20px 0px 20px 0px;
    }

    .img-box {
        gap: 15px;
       }
       
}

/***************medida dispositivos de 500px*******************/
@media  (max-width: 500px){
    .logo-box {
        display: flex;
        float: left;
        padding-left: 0px;
        justify-content: center;
    }
    .nav-list{
        display: flex;
        justify-content: center;
        gap: 15px;
        text-decoration: none;
        list-style-type: none;
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        color: aliceblue;
    }

    .list-item {
        text-decoration: none;
    }

    .image-inside{
        width: 230px;
    }

    .filtrada {
        filter: blur(5);
    }

    .main-title {
        line-height: 1;
        margin: 30px 30px 60px 30px;
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    .subtitles{
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        margin-top: 30px;
    }

    
    .paragraph {
        line-height: 1.5;
        font-size: 14px;
        margin: 15px;
        text-align: justify;
    }

    .main-container {
        background-color: aliceblue;
        justify-content: center;
        text-align: center;
        display: flex;
        margin: 52.5px 40px 0px 40px;
        gap: 150px;
        border: 1px solid rgb(0, 0, 0);
    }

    .who-container {
        display: flex;
        justify-content: center;
    }

    .container-who-image{
        width: 220px;
        }
    
    .who-image{
        width: 100%;
        }
    
    .container-par-who{
        width: 220px;
    }

    .paragrap-foot{
        text-align: center;
        padding:20px 0px 20px 0px;
    }

    .img-box {
        gap: 15px;
    }
       
}

/***************medida dispositivos de 400px*******************/
@media (max-width: 400px){
    .logo-box {
        display: flex;
        float: left;
        padding-left: 0px;
        justify-content: center;
    }
    .nav-list{
        display: flex;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        list-style-type: none;
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        color: aliceblue;
    }
    .list-item {
        text-decoration: none;
    }
    .image-inside{
        width: 220px;
    }
    .main-title {
        margin: 20px 20px 60px 20px;
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    .subtitles{
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        margin-top: 30px;
    }

    
    .paragraph {
        line-height: 1.5;
        font-size: 14px;
        margin: 15px;
        text-align: justify;
    }

    .main-container {
        background-color: aliceblue;
        justify-content: center;
        text-align: center;
        display: flex;
        margin: 52.5px 20px 0px 20px;
        gap: 150px;
        border: 1px solid rgb(0, 0, 0);
    }

    .who-container {
        display: flex;
        justify-content: center;
    }

    .container-who-image{
        width: 220px;
        }
    
    .who-image{
        width: 100%;
        }
    
    .container-par-who{
        width: 220px;
    }
    .paragrap-foot{
        text-align: center;
        padding:20px 0px 20px 0px;
    }

    .img-box {
        gap: 15px;
    }
       
}

/***************medida dispositivos de 300px*******************/
@media (max-width: 300px){
    .logo-box {
        display: flex;
        float: left;
        padding-left: 0px;
        justify-content: center;
    }
    .nav-list{
        display: flex;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        list-style-type: none;
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        color: aliceblue;
    }
    .list-item {
        text-decoration: none;
    }

    .image-inside{
        width: 200px;
    }
    .main-title {
        margin: 20px 20px 60px 20px;
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    } 

    .subtitles{
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        margin-top: 30px;
    }

    
    .paragraph {
        line-height: 1.5;
        font-size: 14px;
        margin: 15px;
        text-align: justify;
    }

    .main-container {
        background-color: aliceblue;
        justify-content: center;
        text-align: center;
        display: flex;
        margin: 52.5px 5px 0px 5px;
        gap: 150px;
        border: 1px solid rgb(0, 0, 0);
    }

    .who-container {
        display: flex;
        justify-content: center;
    }

    .container-who-image{
        width: 220px;
        }
    
    .who-image{
        width: 100%;
        }
    
    .container-par-who{
        width: 220px;
    }

    .paragrap-foot{
        text-align: center;
        padding:20px 0px 20px 0px;
    }

    .img-box {
        gap: 15px;
    }
       
}

/***************medida dispositivos de 200px*******************/
@media (max-width: 200px){
    .logo-box {
        display: flex;
        float: left;
        padding-left: 0px;
        justify-content: center;
    }
    .nav-list{
        display: flex;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        list-style-type: none;
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        color: aliceblue;
    }
    .list-item {
        text-decoration: none;
    }

    .image-inside{
        width: 180px;
    }
    .main-title {
        margin: 20px 20px 60px 20px;
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    } 

    .subtitles{
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        margin-top: 30px;
    }

    
    .paragraph {
        line-height: 1.5;
        font-size: 14px;
        margin: 15px;
        text-align: justify;
    }

    .main-container {
        background-color: aliceblue;
        justify-content: center;
        text-align: center;
        display: flex;
        margin: 52.5px 2.5px 0px 2.5px;
        gap: 150px;
        border: 1px solid rgb(0, 0, 0);
    }

    .who-container {
        display: flex;
        justify-content: center;
    }
    

    .container-who-image{
        width:220px;
    }
    
    .who-image{
        width: 100%;
        }
    
    .container-par-who{
        width: 220px;
    }

    .paragrap-foot{
        text-align: center;
        padding:20px 0px 20px 0px;
    }

    .img-box {
        gap: 15px;
    }
       
}